@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    background: #f4f4f4;
    color: #333;
    transition: 0.3s;
}

body.dark-theme {
    background: #2e2e2e;
    color: #fff;
    transition: 0.3s;
    & header {
        background: #353535;
    }
}

.theme-switcher {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switcher label {
    width: 60px;
    height: 30px;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 20px;
    display: block;
    background: #ebebeb;
    cursor: pointer;
    transition: 0.3s;
    &:after {
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        top: 3px;
        left: 5px;
        background: #ffffff;
        border-radius: 180px;
        box-shadow: 0 5px 10px #00000033;
        transition: 0.3s;
    }
}

.theme-switcher img {
    width: 25%;
    padding-left: 5px;
}

.theme-switcher input {
    width: 0;
    height: 0;
    visibility: hidden;
    &:checked + label {
        background: linear-gradient(90deg, #636AE8, #454de8);
        &:after {
            left: 31px;
        }
    }
}

img.svg-white {
    filter: invert(1);
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 10px;
    background: #ffffff;
    position: relative;
}

.logo {
    position: relative;
}

.logo img {
    width: 50px;
    height: auto;
}

.logo label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    width: 250px;
    top: 50%;
    font-weight: 800;
    padding-left: 5px;
    transform: translateY(-50%);
}

nav {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    position: relative;
    margin: 0 5px;
    transition: 0.2s ease;
    &:hover {
        color: #636AE8;
        transition: 0.3s ease;
    }
}

nav li .active {
    color: #636AE8;
}
