<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/not-found.css">
    <script src="../js/ui/common-page-actions.js"></script>
</head>
<body>
<header>
    <span class="logo">
        <img src="../images/logo.png" alt="logo" id="logo-img">
        <label for="logo-img">Currency Converter Pro</label>
    </span>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Converter</a></li>
            <li><a href="#">Top pairs</a></li>
        </ul>
    </nav>
    <span class="theme-switcher">
        <input type="checkbox" id="darkmode-toggle"/>
        <label for="darkmode-toggle"></label>
        <img class="svg-image moon" src="../images/moon-24.svg" alt="Switch Theme">
    </span>
</header>
<div class="not-found-text-container">
    <h1>404</h1>
    <p>Error, page not found. We couldn't find the page you were looking for. It might have been moved or deleted.</p>
    <div class="go-to-home-container">
        <button id="go-to-home">
            <img class="svg-image" src="../images/home-24.svg" alt="Home">
        </button>
        <label for="go-to-home">Go to Homepage</label>
    </div>
</div>
</body>
</html>