<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/err-pages.css">
    <script src="../js/common-page-actions.js"></script>
</head>
<body>
<header>
    <span class="logo">
        <img src="../images/logo.png" alt="logo" id="logo-img">
        <label for="logo-img">Currency Converter Pro</label>
    </span>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/converter">Converter</a></li>
            <li><a href="/pairs">Top pairs</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <span class="theme-switcher">
        <input type="checkbox" id="darkmode-toggle"/>
        <label for="darkmode-toggle"></label>
        <img class="svg-image moon" src="../images/moon-24.svg" alt="Switch Theme">
    </span>
</header>
<div class="content-container">
    <div class="text-container">
        <h1>503</h1>
        <p>Service temporarily unavailable, try again later or contact us.</p>
    </div>
    <div class="button-container">
        <button id="refresh-page">
            <img class="svg-image" src="../images/sync-24.svg" alt="Home">
        </button>
        <label for="go-to-home">Try again</label>
    </div>
    <div class="button-container">
        <button id="contact-support">
            <img class="svg-image" src="../images/mail-24.svg" alt="Home">
        </button>
        <label for="go-to-home">Contact support</label>
    </div>
    <div class="button-container">
        <button id="go-to-home" onclick="window.location.href = '/';">
            <img class="svg-image" src="../images/home-24.svg" alt="Home">
        </button>
        <label for="go-to-home">Go to Homepage</label>
    </div>
</div>
</body>
</html>